<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Free_SysLog.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Free_SysLog.My.MySettings>
            <setting name="logFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="logViewerWindowSize" serializeAs="String">
                <value>816, 173</value>
            </setting>
            <setting name="autoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainWindowSize" serializeAs="String">
                <value>1191, 485</value>
            </setting>
            <setting name="columnTimeSize" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="columnIPSize" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="columnLogSize" serializeAs="String">
                <value>670</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSaveMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sysLogPort" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="searchColor" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="ignoredWindowSize" serializeAs="String">
                <value>1168, 464</value>
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ignoredWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ignoredWordsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="recordIgnoredLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolConfirmClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="replacementsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="searchWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="searchWindowSize" serializeAs="String">
                <value>1168, 464</value>
            </setting>
            <setting name="alertsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="boolDeselectItemsWhenMinimizing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolShowAlertedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="colIgnoredReplace" serializeAs="String">
                <value>345</value>
            </setting>
            <setting name="colIgnoredRegex" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="colIgnoredCaseSensitive" serializeAs="String">
                <value>91</value>
            </setting>
            <setting name="colIgnoredEnabled" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="colReplacementsReplace" serializeAs="String">
                <value>345</value>
            </setting>
            <setting name="colReplacementsReplaceWith" serializeAs="String">
                <value>345</value>
            </setting>
            <setting name="colReplacementsRegex" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="colReplacementsCaseSensitive" serializeAs="String">
                <value>91</value>
            </setting>
            <setting name="colReplacementsEnabled" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="colAlertsAlertLogText" serializeAs="String">
                <value>308</value>
            </setting>
            <setting name="colAlertsAlertText" serializeAs="String">
                <value>257</value>
            </setting>
            <setting name="colAlertsRegex" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="colAlertsCaseSensitive" serializeAs="String">
                <value>91</value>
            </setting>
            <setting name="colAlertsType" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="colAlertsEnabled" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConfigureIgnoredSize" serializeAs="String">
                <value>670, 304</value>
            </setting>
            <setting name="ConfigureReplacementsSize" serializeAs="String">
                <value>1051, 489</value>
            </setting>
            <setting name="ConfigureAlertsSize" serializeAs="String">
                <value>1003, 322</value>
            </setting>
            <setting name="MinimizeToClockTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteOldLogsAtMidnight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logFileViewerSize" serializeAs="String">
                <value>1168, 464</value>
            </setting>
            <setting name="logFileViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BackupOldLogsAfterClearingAtMidnight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateChooserWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomDateFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewLogBackupsSize" serializeAs="String">
                <value>816, 403</value>
            </setting>
            <setting name="EnableTCPServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteProcessHeaderSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="LogTypeWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HostnameWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ServerTimeWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="boolShowHostnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolShowServerTimeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolShowLogTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveNumbersFromRemoteApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPv6Support" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolShowRawLogOnLogViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolShowHiddenFilesOnViewLogBackyupsWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolShowHiddenAsGray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ColViewLogBackupsFileSize" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ColViewLogBackupsFileDate" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ColViewLogBackupsFileName" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="TimeBetweenSameNotifications" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="IncludeButtonsOnNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationLength" serializeAs="String">
                <value>0</value>
            </setting>
        </Free_SysLog.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
